.color{
    display: inline-block;
    width: 40px;
    height: 40px;
    border: 1px solid black;
}
#black{
    background-color: black;
}
#red{
    background-color: red;
  
}
#green{
    background-color: green;
    
    }
#pink{
       background-color: pink;
        
    }   


.pixel{
     background-color: white;
    display: inline-block;
    width: 40px;
    height: 40px;
    border: 1px solid black;
}

    
